.fight-area {
  display: flex;
  justify-self: center;
  gap: 68px;

  width: 100%;
  max-width: 1260px;
}

.lifebar {
  height: 16px;
  border-radius: 4px;
  border: 1px solid #333;
}

.bar {
  height: inherit;
  width: 10%;

  border-radius: inherit;
  background-color: greenyellow;
}

#hero,
#enemy {
  flex: 1;
}

.log {
  height: 200px;
  overflow-y: scroll;

  border: 1px dotted #999;
}
